/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
 /* reset */
 html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
 article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
 ol,ul{list-style:none;margin:0;padding:0;}
 blockquote,q{quotes:none;}
 blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
 table{border-collapse:collapse;border-spacing:0;}
 /* start editing from here */
 a{text-decoration:none;}
 .txt-rt{text-align:right;}/* text align right */
 .txt-lt{text-align:left;}/* text align left */
 .txt-center{text-align:center;}/* text align center */
 .float-rt{float:right;}/* float right */
 .float-lt{float:left;}/* float left */
 .clear{clear:both;}/* clear float */
 .pos-relative{position:relative;}/* Position Relative */
 .pos-absolute{position:absolute;}/* Position Absolute */
 .vertical-base{	vertical-align:baseline;}/* vertical align baseline */
 .vertical-top{	vertical-align:top;}/* vertical align top */
 .underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
 nav.vertical ul li{	display:block;}/* vertical menu */
 nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
 img{max-width:100%;}
 /*end reset*/
 body{
     font-family:Arial, Helvetica, sans-serif;
 }
 .wrap{
     /* width:1200px; */
     margin:0 auto;
     
     transition:all .2s linear;
     -moz-transition:all .2s linear;/* firefox */
     -webkit-transition:all .2s linear; /* safari and chrome */
     -o-transition:all .2s linear; /* opera */
     -ms-transition:all .2s linear;
 }
 .header{
     border-top:5px solid #FC375E;
 }
 .header_wrapper{
     background:url(images/header-top-bg.gif) repeat-x;
 }
 .logo{
     float:left;
     padding:10px 0;
     width:30%;
     padding-left:10px;
 }
 .menu{
     float:left;
     padding:57px 0;
     background:url(./images/menu-bg.png);
     margin-left:2px;
     font-family:'Duru Sans', sans-serif;
     width:69%;
 }
 .menu li{
     display:inline-block;
     float:left;	
 }
 .menu li a{
     font-size:13px;
     color:#818080;
     font-weight:bold;
     padding:59px 42px ;
     border-right:1px solid #FFF;
     font-family: 'Coda', cursive;
 }
 .menu li.active a{
     background:#FC375E;
 }
 .menu li:nth-child(6) a{
     border:none;
 }
 .menu li a:hover{
     color:#FFF;
     background:url(./images/menu-bg-hover.png);
 }
 .header_bottom{
     border-bottom:2px ridge #FC375E;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     /* background-color: palevioletred; */
     padding-bottom: 1px;
     background:url(./images/menu-bg.png);
 }
 /***** slide show *****/
 .rslides {
     position: relative;
     list-style: none;
     overflow: hidden;
     width: 100%;
     padding: 0;
     margin: 0;
 }
 .rslides li {
     -webkit-backface-visibility: hidden;
     position: absolute;
     display: none;
     width: 100%;
     left: 0;
     top: 0;
 }
 .rslides li:first-child {
     position: relative;
     display: block;
     float: left;
 }
 .rslides img {
     display: block;
     height: auto;
     float: left;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     border: 0;
 }
 
 .more span a{
     padding:6px 10px;
     font-size:12px;
     color:#FFF;
          border            : 1px solid #FFF;
         background        : #e33d3d;
         background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzM2QzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYzAxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
         background        : -moz-linear-gradient(top,  #e33d3d 0%, #bc0100 100%);
         background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e33d3d), color-stop(100%,#bc0100));
         background        : -webkit-linear-gradient(top,  #e33d3d 0%,#bc0100 100%);
         background        : -o-linear-gradient(top,  #e33d3d 0%,#bc0100 100%);
         background        : -ms-linear-gradient(top,  #e33d3d 0%,#bc0100 100%);
         background        : linear-gradient(top,  #e33d3d 0%,#bc0100 100%);
         filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33d3d', endColorstr='#bc0100',GradientType=0 );
         box-shadow        : 0 1px 0 0 #e86767 inset, 1px 0 0 0 #da5251 inset, -1px 0 0 0 #da5251 inset,
                             0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4);  
         -moz-box-shadow   : 0 1px 0 0 #e86767 inset, 1px 0 0 0 #da5251 inset, -1px 0 0 0 #da5251 inset,
                             0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4);
         -webkit-box-shadow: 0 1px 0 0 #e86767 inset, 1px 0 0 0 #da5251 inset, -1px 0 0 0 #da5251 inset,
                             0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4);
         color             : #fff;
         text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.30);
         -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
     -o-transition: all 0.3s linear;
     transition: all 0.3s linear;
         
 }
 .more span a:hover{
         border            : 1px solid #781413;
         background        : #c82120;
         filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#c82120', endColorstr='#c82120');
         box-shadow        : 0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4),
                             0 0 0 1px #d45251 inset;
         -moz-box-shadow   : 0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4),
                             0 0 0 1px #d45251 inset;
         -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4),
                             0 0 0 1px #d45251 inset;    
 }
 